* {
  margin: 0px;
  padding: 0px;
}
section {
  width: 1920px;
}
.banner-container {
  display: flex;
  column-gap: 97px;
  justify-content: space-around;
  height: 850px;
  width: 1920px;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  flex-shrink: 0;
}
.banner-text-container {
  width: 634px;

  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.banner-img {
  padding-top: 50px;
  padding-right: 200px;
  width: 635px;
  height: 800px;
  flex-shrink: 0;
}
.title {
  display: flex;
  width: 708px;
  flex-direction: column;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.btn {
  padding: 10px 20px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 32px;
}

.offer-container {
  display: flex;
  column-gap: 97px;
  justify-content: space-around;
  height: 850px;
  width: 1920px;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  flex-shrink: 0;
  margin: 10% 0;
}

.offer-container2 {
  margin: 5% auto;
  width: 70%;
  display: flex;
  flex-direction: row;
}
.offer-text-container {
  width: 100%;
  flex: 60%;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.offer-img {
  flex: 40%;
  width: 100%;
  height: 420px;
  flex-shrink: 0;
}
.offer-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.offer-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.offer-btn {
  padding: 10px 20px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 32px;
}

.image-group-text-title {
  text-align: center;
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.image-group-text-subtitle {
  text-align: center;
  margin-top: 24px;
  border: #e55473;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.image-group-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 80%;
  margin: 5% auto;
}
.image-group-item {
  width: 100%;
  height: 396px;
}

.subcription-container {
  display: flex;
  flex-direction: column;
  background-image: url("./flower-shop-assignment-main/Rectangle\ 9.png");
  background-repeat: no-repeat;
  height: 4867px;
  width: 80%;
  margin: 5% auto;
  gap: 2%;
}
.subcription-titile {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.subcription-titile {
}
.subcription-subtitle {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.subcription-form {
  margin: 5% auto;
}
.subcription-input {
  text-align: left;
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
.subcription-button {
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
